html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.index-body {
    display: flex;
    flex-direction: column;
    background-color: #2D455A

}
#itemsTable_paginate {
    margin-top: 10px;
    background-color: #F8F9FA;
    padding: 5px;
    border-radius: 1px;
    border: solid 2px #F8F9FA;
}
label, caption,  .paginate-button, .dataTables_info{
    color: white !important;
}
select, .index-btn, input, table, footer {
    background-color: #F8F9FA !important;
}
.content {
    flex: 1;
}
.table-container {
    overflow-x: auto;
}
.navbar-row {
   height: 15vh;
}
#prev-day, #next-day {
    margin:  0 5px;
    height: 40px;
    border-radius: 5px;
}
#date-picker, #month-picker {
    border-radius: 5px;
    height: 40px;
}
.table {
    border-radius: 5px;
}

.table-menu th, .table-menu td, .items-table th, .items-table td {
    border: none !important;
}
.table-menu {
    border-bottom: none !important;
}
.gold {
    color: goldenrod;
    font-weight: bolder;
}

.silver {
    color: silver;
    font-weight: normal;
    font-size: 70%;
}

.copper {
    color: #b87333;
    font-weight: normal;
    font-size: 70%; 
}

.negative, .red {
    color: red !important;
}

.positive, .green {
    color: green !important;
}
#itemsTable tbody tr {
    cursor: pointer;
}
.date-picker {
    width: 50%;
}
@media (max-width: 768px) {
    .date-picker {
        width: 100%;
    }
}

#itemsTable_filter{
    margin-bottom: 20px;
}
.dataTables_length{
    margin-top: 5px;
}

#reagentTree{
    font-size: 1rem;
}
#top10 #cheapestHerbs, #generalDataTable, #dangerZone{
    font-size: 0.8rem;
}
#cheapestHerbs{
 margin-bottom: 94px;
}
#ui-igtrialwatermark{
    display: none !important;
}